@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* setting up the background image to cover the whole screen */
* + * {
  font-family: Roboto, Helvetica, sans-serif;
}
html {
  background: url("./components/images/ali-arif-soydas.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.profilePicture {
  width: 152px;
  border-radius: 100%;
  margin-top: 50px;
}

/* profile picture and links */

.main-links {
  width: 350px;
  background-color: rgba(236, 59, 59, 0.8);
  text-align: center;
  height: 100vh;
  overflow-y: auto;
}
.profile-name {
  text-transform: uppercase;
  font-weight: normal;
  color: rgb(255, 241, 241);
  font-size: 1.7rem;
}

.profile-description {
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255, 241, 241, 0.8);
  font-size: 1.3rem;
}
// profile list
.lists {
  margin-top: 4rem;
  font-size: 1.3rem;
  .caret {
    visibility: hidden;
  }

  & ul {
    text-transform: uppercase;
    color: rgba(255, 241, 241, 0.6);
    list-style: none;
    text-align: start;
    margin-top: 4rem;

    & li {
      line-height: 45px;
      &:hover {
        color: white;
      }
    }
    & li:hover .caret {
      visibility: visible;
      margin-left: 5px;
    }
  }
}
// Links
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

// Social links
.social {
  color: rgba(255, 241, 241, 0.6);
  margin-top: 4rem;

  & .socialLinks {
    margin-bottom: 10px;
    padding-top: 15px;
    & a {
      font-size: 30px;
      margin-left: 20px;

      &:hover {
        color: white;
      }
    }
    & .envelope {
      font-size: 33px;
      margin-left: 0;
    }
  }
}
// contacts page
.contact-page {
  width: calc(100vw - 350px);
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(92, 77, 77, 0.8);
  & .contact-intro {
    & h2 {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 3rem;
    }
    & p {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }
}

.social-icons {
  display: grid;
}
.contact-social-links {
  display: grid;
  grid-template-columns: 200px 50px 200px;
  grid-template-rows: repeat(5, 50px);
  grid-template-areas:
    "email emailIcon emailText" "linkedIn linkedInIcon linkedInText"
    "gitHub gitHubIcon gitHubText" "twitter twitterIcon twitterText"
    "instagram instagramIcon instagramText";
  font-size: 1.5rem;
  & p {
    margin: 0;
  }

  & .emailLabel {
    grid-area: email;
  }

  & .envelope {
    grid-area: emailIcon;
  }

  & .emailHandler {
    grid-area: emailText;
  }
  & .linkedInLabel {
    grid-area: linkedIn;
  }

  & .linkedIn {
    grid-area: linkedInIcon;
  }

  & .linkedInHandler {
    grid-area: linkedInText;
  }

  & .githubLabel {
    grid-area: gitHub;
  }

  & .gitHub {
    grid-area: gitHubIcon;
  }

  & .githubHandler {
    grid-area: gitHubText;
  }

  & .twitterLabel {
    grid-area: twitter;
  }

  & .twitter {
    grid-area: twitterIcon;
  }

  & .twitterHandler {
    grid-area: twitterText;
  }

  & .instagramLabel {
    grid-area: instagram;
  }

  & .instagram {
    grid-area: instagramIcon;
  }

  & .instagramHandler {
    grid-area: instagramText;
  }
}
