body {
  background: linear-gradient(
    75deg,
    rgba(195, 78, 248, 0.41) 0%,
    rgba(239, 245, 99, 0.6) 100%
  );
}
.app {
  margin: auto;
}

.pomodoro {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: inherit;
  grid-template-rows: 100px 60px 60px 200px 50px;
}

.break,
.session,
.timer {
  text-align: center;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

span {
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

span:last-child {
  padding-right: 0;
}
span:first-child {
  padding-left: 0;
}
